# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
*.py[cod]

# Environment variables
.env

# Virtual environment
venv/
env/

# Static files
/staticfiles
/mediafiles

# VSCode settings
.vscode/

#node artifact file
migrations

# Ignore compiled code and libraries
*.class
*.dll
*.exe

# Ignore logs
*.log
logs/