<div class="container">      
  <div class="row space-100 justify-content-center">
    <div class="col-lg-10 col-md-12 col-xs-12">
      <div class="contents">
        <h2 class="head-title">Find the expert to bring your vision to life </h2>
        <h3>Connect with top experts for your needs or showcase your skills to the world</h3>
          <a href="{% url 'search_expert' %}" class="btn btn-primary">Search Expert</a>
          <a href="{% url 'basic_info' %}" class="btn btn-primary">Create Expert Account</a>    
      </div>
    </div>
  </div> 
</div>   